<link rel="stylesheet" href="test/mocha.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<style>
	#fixture {
		position: absolute;
		top: -9999;
		left: -9999;
	};
</style>
<script src="test/test-lib/chai.js"></script>
<script src="test/test-lib/mocha.js"></script>
<script> mocha.setup('bdd');</script>
<script src="test/utils.js"></script>
<script src="test/tests.js"></script>
<script>
	window.onload = function() {
		mocha.run()
	};
</script>

<textarea autofocus id="INPUT" style="display:none;"></textarea>
<div id='OUTPUT' style="display:none;"></div>
<div id="mocha"></div>
<h2 style="margin: 30px 60px;">Resultados de los tests</h2>
<div id="test_output1" style="margin: 60px 50px;"></div>
<div id="test_output2" style="margin: 60px 50px;"></div>
<div id="test_output3" style="margin: 60px 50px;"></div>