
 <script>
    function dump(fileName) {
       $.get(fileName, function (data) {
          $("#INPUT").val(data);
       });
    };
  </script> 
  <div class="center">
		<br/>
		<br/>
		<br/>
	  <textarea autofocus id="INPUT">

	  </textarea>
	  <br>
	  <div style="display:inline">
			<input id="PARSE" value="parse" type="button" class="buttonTable"> 
			<button id ="input1" type="button" onclick="dump('input1.txt');" class="buttonTable">input1</button>
			<button id ="input2"  type="button" onclick="dump('input2.txt');" class="buttonTable">input2</button>
			<button id ="inputError"  type="button" onclick="dump('inputError.txt');" class="buttonTable">inputError</button>
	  </div>
	  <pre id=OUTPUT></pre>
  </div>
