<!DOCTYPE html>
<html>
<head>
   <title>Top Down Operator Precedence</title>
   <link href="global.css" rel="stylesheet" type="text/css">
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="main.js"></script>
</head>
<body>
	<div class='top-bar'>
		<div class='enlace' onclick="window.location='http://javascript.crockford.com/tdop/tdop.html'; return false;">
			<img src="book.png" alt="tut" height="16" width="16"/> 
			Tutorial
		</div>
		<div class='enlace' onclick="window.location='https://github.com/alu0100603453/PL04'; return false;">
			<img src="git.png" alt="git" height="16" width="16"/> 
			GitHub
		</div>
		<div class='enlace' onclick="window.location='/tests'; return false;">
			<img src="test.png" alt="ts" height="16" width="16"/> 
			Tests
		</div>
	</div>
	<%=yield%>
</body>
</html>